boto3==1.39.12
polars==1.31.0
parsel==1.10.0
regex==2024.11.6
markitdown==0.1.2

uvicorn==0.35.0
fastmcp==2.10.5
pydantic==2.11.7
websockets==15.0.1
fastapi[standard]==0.116.1

llm_agents @ git+https://github.com/aureka-team/llm-agents.git@v1.1.4
multi_agents @ git+https://github.com/aureka-team/multi-agents.git@v1.1.12
rage @ git+ssh://git@github.com/aureka-team/rage2.git@v1.0.35
