polars==1.33.1
parsel==1.10.0
regex==2025.9.18
boto3==1.40.40
filetype==1.2.0
asyncstdlib==3.13.1

uvicorn==0.37.0
pydantic===2.11.9
pydantic-settings==2.11.0
websockets==15.0.1
fastapi[standard]==0.117.1
fastmcp==2.12.4
fastapi-users[beanie]==14.0.1

# Aureka packages
llm_agents==1.1.18
multi_agents==1.1.14
rage==1.0.59
common==1.1.12
