polars==1.33.1
parsel==1.10.0
regex==2025.9.1

uvicorn==0.35.0
pydantic==2.11.7
pydantic-settings==2.10.1
websockets==15.0.1
fastapi[standard]==0.116.1

# Aureka packages
llm_agents==1.1.18
multi_agents==1.1.14
rage==1.0.56
